---
import Layout from '~/layouts/PageLayout.astro';

import Header from '~/components/widgets/Header.astro';
import Hero from '~/components/widgets/Hero.astro';
import Content from '~/components/widgets/Content.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import Features3 from '~/components/widgets/Features3.astro';
import Testimonials from '~/components/widgets/Testimonials.astro';
import Steps from '~/components/widgets/Steps.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import { Icon } from 'astro-icon/components';

const metadata = {
  title: 'Lucas Faria',
};

const socialLinks = [
  { ariaLabel: 'Email', icon: 'tabler:mail', href: 'mailto:hi@lucasfaria.dev' },
  { ariaLabel: 'Github', icon: 'tabler:brand-github', href: 'https://github.com/lucasheriques' },
  { ariaLabel: 'Instagram', icon: 'tabler:brand-instagram', href: 'https://instagram.com/lucasfaria.dev' },
  { ariaLabel: 'TikTok', icon: 'tabler:brand-tiktok', href: 'https://www.tiktok.com/@lucasfaria.dev' },
  { ariaLabel: 'X', icon: 'tabler:brand-x', href: 'https://twitter.com/lucasfariadev' },
];
---

<Layout metadata={metadata}>
  <Fragment slot="announcement"></Fragment>
  <Fragment slot="header">
    <!-- <Header
      links={[
        { text: 'Home', href: '#' },
        { text: 'About', href: '#about' },
        { text: 'Resume', href: '#resume' },
        { text: 'Porfolio', href: '#porfolio' },
        { text: 'Blog', href: '#blog' },
        { text: 'Github', href: 'https://github.com/onwidget' },
      ]}
      showToggleTheme
    /> -->
  </Fragment>

  <!-- Hero2 Widget ******************* -->

  <Hero id="hero" title="Lucas Faria" tagline="engenheiro de software">
    <Fragment slot="subtitle">criador de experiências digitais encantadoras e aestéticas.</Fragment>
    <Fragment slot="content">
      <ul class="flex items-center justify-center">
        {
          socialLinks.map(({ ariaLabel, href, icon }) => (
            <li>
              <a
                class="text-muted dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-700 focus:outline-none focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 rounded-lg text-sm p-2.5 inline-flex items-center"
                aria-label={ariaLabel}
                href={href}
              >
                {icon && <Icon name={icon} class="w-5 h-5" />}
              </a>
            </li>
          ))
        }
      </ul>
    </Fragment>
  </Hero>
</Layout>
